<div class="icons">
    <button mat-icon-button> <img src="/assets/Note-icons/add_alert.svg" width="20px" height="20px"></button>
    <button mat-icon-button> <img src="/assets/Note-icons/add_person.svg" width="20px" height="20px"></button>
    <button mat-icon-button> <img src="/assets/Note-icons/color.svg" width="20px" height="20px"></button>
    <button mat-icon-button> <img src="/assets/Note-icons/image.svg" width="20px" height="20px"></button>
    <button mat-icon-button> <img src="/assets/Note-icons/Archive.svg" width="20px" height="20px"></button>
    <button mat-icon-button> <img src="/assets/Note-icons/more.svg" width="20px" height="20px"></button>
</div>

