<div class="reg-layout">
    <div class="container">
        <div class="reg-container">
            <div class="form-head">
                <!-- <img src="/assets/Fundoo-logo.png" > -->
                <img src="/assets/Fundoo-logo2.png"  width="120px" height="30px">
                <p style="font-size: 30px !important; margin:20px;">Forgot Password</p>
                <h1>Enter your email</h1>            
            </div>
            <form class="form-container">
               
                <div class="form-group">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" required>
                    </mat-form-field>
                </div>
                <br>
                <div class="form-group buttons">
                    <button mat-button class="btn-basic" routerLink="/login">Cancel</button>
                    <button mat-raised-button class="btn-primary" color="primary">Next</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    
        
      