<div class="reg-layout">
    <div class="container">
        <div class="reg-container">
            <div class="form-head">
                <!-- <img src="/assets/Fundoo-logo.png" > -->
                <!-- <img src="/assets/Fundoo-logo2.png"  width="120px" height="30px"> -->
                <div fxLayout="row" fxLayoutAlign="center center" style="font-weight:500">
                    <p style="font-size: 30px ; color: #4285F4">F</p>
                    <p style="font-size: 30px ; color: #EA4335">u</p>
                    <p style="font-size: 30px ; color: #FBBC05">n</p>
                    <p style="font-size: 30px ; color: #4285F4">d</p>
                    <p style="font-size: 30px ; color: #34A853">o</p>
                    <p style="font-size: 30px ; color: #EA4335">o</p>
                    </div>
                <p style="font-size: 28px; margin:10px;">Forgot Password ?</p>
                <h2>Enter your email</h2>            
            </div>
            <form class="form-container" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
               
                <div class="form-group">
                    <mat-form-field appearance="outline" class="form-field" >
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="Email" formControlName="email">
                        <mat-error>Email is required</mat-error>
                    </mat-form-field>
                </div>
                <br>
                <div class="form-group buttons">
                    <button mat-button class="btn-basic" routerLink="/login">Cancel</button>
                    <button mat-raised-button class="btn-primary" color="primary">Next</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    
        
      