.display-notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.note{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 4px gray;
    border: 1px solid lightgray;
    width: 250px;
    justify-content: space-between;
}
.note-title{
    height: 15%;
    min-height: 40px;
}
.description{
    height: 70%;
}
.icons{
    height: 15%;
    min-height: 40px;
}

button:hover{
    background-color: rgb(247, 233, 217) ;
}