<div class="collabs">

    <span class="mat-title">Collaborators</span>
    <hr />

    <div class="rows" fxLayoutAlign="space-between start">
        <button mat-icon-button> <img src="/assets/Dashboard-icons/Circle-icons-profile.svg" width="33px" height="33px"> </button>
        <div class="collab" fxLayout="column" fxLayoutAlign="start start">
            <span><b>{{name}}</b><i>(Owner)</i></span>
            <span>{{email}}</span>
        </div>
        <button mat-icon-button style="visibility:hidden;"><img src="/assets/Dashboard-icons/Cancel-Search.svg"></button>
    </div>

    <div *ngFor="let c of collabResponse" class="rows" fxLayoutAlign="space-between start">
        <button mat-icon-button> <img src="/assets/Dashboard-icons/Circle-icons-profile.svg" width="33px" height="33px"> </button>
        <div class="collab" fxLayout="column" fxLayoutAlign="start start" >
            <span><b>{{c.emailId}} </b></span>
            <span>{{c.emailId}}</span>
        </div>
        <button mat-icon-button (click)="removeCollab(c.collaboratorId)"><img src="/assets/Dashboard-icons/Cancel-Search.svg"></button>
    </div>

    <div class="rows" fxLayoutAlign="space-between start" >
        <button mat-icon-button style="border: 1px solid gray;"> <img src="/assets/Note-icons/add_person.svg" width="24px" height="36px"> </button>
        <div class="collab" style="padding: 10px 0px;">
            <input matInput placeholder="Person or email to share with" [(ngModel)]="collabEmail">
        </div>
        <button mat-icon-button (click)="addCollab()" [style]="collabEmail==''? 'opacity:0' : 'opacity: 1'"><img src="/assets/Note-icons/done_black_24dp.svg"></button>
    </div>

</div>

<div class="buttons">
    <button mat-button matTooltip="Cancel" (click)="cancel(collabResponse)">Cancel</button>
    <button mat-button matTooltip="Save" (click)="save(collabResponse)">Save</button>
</div>
