.reg-layout{
    display: flex;
    justify-content: center;
    // padding-left: 25%;
    // padding-right: 25%;
}
.container{
    display: flex;
    justify-content: center;
    min-width: 450px;
    padding: 30px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 3px #00000029;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 50px;

}
.reg-container{
    display: flex;
    flex-direction: column;
    width:100%;
}


.form-head {
    padding: 10px;
    text-align: center;
}
.form-container{
    padding: 10px;
}

.form-group{
    display: flex;
    justify-content:flex-start; 
    margin-bottom: 10px;
}
// .form-group ::ng-deep .mat-form-field-wrapper{
//     padding-bottom: 0px;
// }

.mat-form-filed{
    width: max-content;
}

.form-field{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-basic{
    font-weight: 500;
    font-size: 16px;
    color: #1a73e8;
    text-decoration: none;
    background-color: #e8f0fb;
}
.btn-primary{
    min-width: 80px;
    font-size: 16px;
    color: white;
    font-weight: 500;
    background-color: #1a73e8;
}

.btn-basic:hover{
    background-color: #d3e5ff;
    color: #006eff;
    border-radius: 5px;
}

.btn-primary:hover{
    background-color: #006eff;
    color: rgb(30, 29, 29);
    box-shadow: 0px 0px 8px gray;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

::ng-deep .snackbar-green{
    background-color:#72d18b;
    color: black;
}

@media (max-width: 550px) {
    .container{
        max-width: 80%;
        min-width: 250px;
        font-size: 14px;
    }
    .btn-basic, .btn-primary{
        font-size: 14px;
    }
    .form-head{
        font-size: 0.8em !important;
    }
}