<div class="reg-layout">
<div class="container">
    <div class="reg-container">
        <div class="form-head">
            <!-- <img src="/src/assets/Fundoo-logo.png" > -->
            <img src="https://images.glints.com/unsafe/glints-dashboard.s3.amazonaws.com/company-logo/070b237e8e4b739a810d2ccad3909f15.png"  width="120px" height="30px">
            <h1> </h1>
            <h1>Create Your Fundoo Account</h1>            
        </div>
        <form class="form-container">
            <div class="form-group">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name">
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Password">
                    <mat-hint>You can use letters, numbers & periods</mat-hint>
                </mat-form-field>
            </div>
            <div class="form-group form-field">
                <a class="btn-basic">Use my current email instesd</a>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password">
                    <mat-hint>Use 8 or more characters <!--with a mix of letters, numbers & symbols--></mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Confirm</mat-label>
                    <input matInput placeholder="Confirm">
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
            </div>
            <div class="form-group form-field">
                <section class="example-section">
                    <mat-checkbox class="example-margin">Show Password</mat-checkbox>
                </section>
            </div>
            <br>
            <div class="form-group buttons">
                <a class="btn-basic ">Sign in instesd</a>
                <a class="btn-primary ">Register</a>
            </div>
        </form>
    </div>
    <div class="reg-img">
        <!-- <img src="/src/assets/account.svg" alt="" width="244" height="244" class=""> -->
        <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt="" width="244" height="244" class="">
        <p>One account. All of Fundoo working for you.</p>
    </div>
</div>
</div>

    
  