.mat-toolbar{
    background-color:white;
    height:70px;
    border: black;
    box-shadow: 1px 1px 3px #00000029;
}

.fundoo p{
    margin-bottom: 0px;
}

.logo{
    margin-left: 10px;
    margin-right: 10px;
}

.search {
    flex: 1 1 auto;
    margin-left: 10%;
    margin-right: 10%;
  }

//   .toolbar-right{

//   }
  