<div class="take-note" style="padding:10px">

<div fxLayout="row" fxLayoutAlign="space-between center">
    <input class="mat-title" matInput mat-dialog-title [(ngModel)]="title">
  <button mat-icon-button matTooltip="Pin" (click)="pinUnPin();" *ngIf="!isPin"> 
      <img src="/assets/Note-icons/pin.svg" width="20px" height="20px">
  </button>
  <button mat-icon-button matTooltip="Unpin" (click)="pinUnPin();" *ngIf="isPin"> 
    <img src="/assets/Note-icons/pinned.svg" width="20px" height="20px">
  </button>
</div>

<div  fxLayout="row" fxLayoutAlign="space-between center">
    <textarea type="text" matInput mat-dialog-content  [(ngModel)]="description" style="min-height: 100px;"></textarea>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <app-icons></app-icons>
  <button mat-button [mat-dialog-close]="true" matTooltip="Update" (click)="updateNote()">Close</button>
</div>

</div>