<div class="note" [style.background]="color">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <input class="mat-title" matInput mat-dialog-title [(ngModel)]="title">
    <button mat-icon-button matTooltip="Pin" (click)="pinUnPin();" *ngIf="!isPin">
      <img src="/assets/Note-icons/pin.svg" width="20px" height="20px">
    </button>
    <button mat-icon-button matTooltip="Unpin" (click)="pinUnPin();" *ngIf="isPin">
      <img src="/assets/Note-icons/pinned.svg" width="20px" height="20px">
    </button>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-between center">
    <textarea type="text" matInput mat-dialog-content [(ngModel)]="description" style="overflow: hidden; resize: none !important; word-wrap: break-word; " cdkTextareaAutosize cdkAutosizeMinRows="0" cdkAutosizeMaxRows="25"></textarea>
    <img [src]="image" width="100%">
  </div>
  <div  fxLayout="row">
    <button mat-icon-button *ngFor="let collab of collabList" [matTooltip]="collab.emailId"> <img src="/assets/Dashboard-icons/Circle-icons-profile.svg" width="24px" height="24px"> </button>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <app-icons [noteObj]="data" [collabObj]="collabList" (changeNoteEvent)="iconRefresh($event)"></app-icons>
    <button mat-button [mat-dialog-close]="true" matTooltip="Update" (click)="updateNote()" *ngIf="!data.isTrash">Close</button>
  </div>

</div>