<div class="notelist" fxLayout="column" fxLayoutAlign="center center" >
    <app-take-note (createNoteEvent)="refresh($event)" (updateNoteEvent)="updatedData($event)"></app-take-note>
</div>

<div class="notelist">
    <div>
    <!-- <div fxLayout="column"> -->
    <span  *ngIf="noteList.length>0" style="margin-left:15px"><b>Pinned</b></span>
    <div class="display" fxLayout="row" >
        <app-display-note [notesArray]="noteList" (updateNoteEvent)="updatedData($event)" (updatedIconData)="updatedIcon($event)"></app-display-note>
    </div>
    <!-- </div> -->

    <br>
    <!-- <div fxLayout="column"> -->
    <span  *ngIf="noteListUnpinned.length>0" style="margin-left:15px"><b>Others</b></span>
    <div class="display" fxLayout="row" >
        <app-display-note [notesArray]="noteListUnpinned" (updateNoteEvent)="updatedData($event)" (updatedIconData)="updatedIcon($event)"></app-display-note>
    </div>
    <!-- </div> -->
    </div>
</div>